/ChisquareMetric.class
/CosineMetric.class
/EuclidianDistanceMetric.class
/HellingerFunctionMetric.class
/JSdivergenceMetric.class
/JaccardsCoefficientMetric.class
/KLdivergenceMetric.class
/L1normMetric.class
