ChisquareMetric.class
JaccardsCoefficientMetric.class
CosineMetric.class
JSdivergenceMetric.class
EuclidianDistanceMetric.class
KLdivergenceMetric.class
HellingerFunctionMetric.class
L1normMetric.class


