/ChisquareComputeSimilarity.class
/CosComputeSimilarity.class
/EuclComputeSimilarity.class
/HellComputeSimilarity.class
/JSComputeSimilarity.class
/JaccComputeSimilarity.class
/KLComputeSimilarity.class
/L1ComputeSimilarity.class
